@charset "utf-8";
caption{
    font-size: 48px;
    color: rgb(199, 25, 25);
}
table, th, td{
    border: solid 1px black;
    border-collapse: collapse;
}

table{
    background-color: rgb(179, 101, 174);
    margin-bottom: 20px;
}

li, td{
    font-size: 20px;
    color: cornsilk;
}

tr th{
    background-color: aliceblue;
}